<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resetare parolă</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 <div class="panel panel-default">
    <div class="panel-heading"><h2>Media Store</h2>
  <h4>Salut ${user.username}, ne-ai cerut să iţi resetezi parola.</h4></div>
    <div class="panel-body"><div class="container">  
  <h4>Dă click pe butonul de mai jos:</h4>
<br/>
  <a href="${url}"><button type="button" class="btn btn-primary">Resetare parolă</button></a>
<br/>
<br/>
<br/>
<h4>Dacă butonul nu este funcţional foloseşte următorul link:</h4>
<p><a href="${url}">${url}</a></p>
<br/>
<br/>
</div>
</div>
 <div class="panel-footer"><h3>Spor la cumpărături!</h3></div>
</body>
</html>

