<hmtl>
	<body>
		<h3>Salut ${user.username}, ne-ai cerut sa iti resetezi parola<h3>
		<h5>Da click pe linkul de mai jos</h5>
		<h5><a href="${url}">${url}<a></h5>
		<h3>Sport la cumparaturi :)</h3>
	</body>
</html>

