<!DOCTYPE html>
<html lang="en">
<head>
  <title>Parola nouă</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 <div class="panel panel-default">
    <div class="panel-heading"><h2>Media Store</h2>
  <h4>Salut ${user.username}, ţi-ai schimbat parola cu succes!</h4></div>
    <div class="panel-body"><div class="container">  
  <h5>Userul tău este: ${user.username}</h5>
<br/>
<h5>Noua ta parolă este: ${user.password}</h5>
<br/>
<h5>Adresa ta de mail este: <a href="mailto:${user.emailAddress}">${user.emailAddress}</a>.</h5>
<br/>
<br/>
</div>
</div>
 <div class="panel-footer"><h3>Spor la cumpărături!</h3></div>
</body>
</html>