<!DOCTYPE html>
<html lang="en">
<head>
  <title>Înregistrat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 <div class="panel panel-default">
    <div class="panel-heading"><h2>Media Store</h2>
  <h3>Salut ${user.username}, te-ai înregistrat cu succes!<h3></div>
    <div class="panel-body"><div class="container">  
<br/>    
<h4>Userul tău este: ${user.username}</h4>
<h4>Parola ta este: ${user.password}</h4>
<h4>Adresa ta de email este: <a href="mailto:${user.emailAddress}">${user.emailAddress}</a>.</h4>
<br/>
<br/>
</div>
</div>
 <div class="panel-footer"><h3>Spor la cumpărături!</h3></div>
</body>
</html>